.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}
.tabulator {
    font-size: 20px;
}
label[for=resourceSearch] {
    font-weight: bold;
    font-size: 20px;
    background: #d42127;
    color: white;
    border: 2px solid black;
    padding: 2px 10px 2px 10px;
}
input[type=text] {
    font-weight: 400;
    font-size: 20px;
    width: 250px;
    border: solid black;
    border-width: 2px 2px 2px 0px;
    padding: 2px 10px 2px 10px;
    color: black;
    outline: none;
}
img[alt=logo] {
    width: 50px;
    display: inline;
    margin-left: 10px;
    padding-right: 30px;
}
.navBar {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.searchBar {
    display: flex;
    flex-direction: row;
    align-items: center; 
}
#resources-table .tabulator-header, .tabulator-headers {
    background-color:rgb(0, 0, 0);
    color:#fff;
}
.tabulator .tabulator-header .tabulator-col {
    background:rgb(0, 0, 0);
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
    background-color:rgb(0, 0, 0);
}
#resources-table .tabulator-header .tabulator-col,
#resources-table .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}
@media only screen 
    and (min-device-width: 50px) 
    and (max-device-width: 350px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
        .tabulator{ 
            font-size:14px;
        }
        .tabulator-row .tabulator-cell {
            word-wrap: break-word;
        }
        input[type=text] {
            width: 100px;
            font-size: 14px;
        }
        label[for=resourceSearch] {
            font-size: 14px;
        }
}
@media only screen 
    and (min-device-width: 350px) 
    and (max-device-width: 475px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
        .tabulator{ 
            font-size:14px;
        }
        .tabulator-row .tabulator-cell {
            word-wrap: break-word;
        }
        input[type=text] {
            width: 150px;
            font-size: 14px;
        }
        label[for=resourceSearch] {
            font-size: 14px;
        }
}