.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: #000000;
    color: white;
    padding: 8px;
    z-index: 100;
}
.skip-link:focus {
    top: 0;
}
.tabulator {
    font-size: 20px;
}
@media only screen 
    and (min-device-width: 50px) 
    and (max-device-width: 400px) 
    and (-webkit-min-device-pixel-ratio: 1) { 
        .tabulator{ 
            font-size:14px;
        }
        .tabulator-row .tabulator-cell {
            word-wrap: break-word;
        }
}
#resources-table .tabulator-header, .tabulator-headers {
    background-color:rgb(0, 0, 0);
    color:#fff;
}
.tabulator .tabulator-header .tabulator-col {
    background:rgb(0, 0, 0);
}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
    background-color:rgb(0, 0, 0);
}
#resources-table .tabulator-header .tabulator-col,
#resources-table .tabulator-header .tabulator-col-row-handle {
    white-space: normal;
}